<app-nav-bar></app-nav-bar>
<!-- <app-home></app-home> -->

<!-- <app-login></app-login> -->
<div class="">
      <!-- <app-nav-bar></app-nav-bar>
      <app-leftbar></app-leftbar> -->
      <!-- <div>
        <app-recent></app-recent>
        <app-upload-doc></app-upload-doc>
      </div>
        <app-docs></app-docs> -->
      <!-- <app-add-user></app-add-user> -->
<!-- <app-nav-bar></app-nav-bar>
<app-login></app-login> -->
<div style="margin-left: 30%; width: 40%">
    <flash-messages></flash-messages>
</div>

<router-outlet></router-outlet>
</div>
