<app-leftbar>Loading...</app-leftbar>
<div style="width: 80%; float: right" >
<div *ngIf="user">
  <h2> {{user.name}}</h2>
<!-- <div class="row">
  <div class="col-lg-2" style="margin:30px 80px; height:250px;">
    <img src="../assets/NoProfile.png" class="rounded-circle" alt="Cinque Terre" width="250" height="250" style="background-color:gray">
  </div>
  <div class="col-lg-5 vl" style="margin:50px 0 20px 0; padding-left:40px; height:250px;">
    <h4 style="margin:30px 0 40px 0;"><b><label for="" style="font-size:120%; color:#008080;">{{user.fullname}}</label></b></h4>
    <h6 style="margin:20px 0;"><b>Designation: {{user.role}}</b><label for="" style="font-size:80%"></label></h6>
    <h6 style="margin:20px 0;"><b>Employee No:</b><label for="" style="font-size:80%"></label></h6>
    <h6 style="margin:20px 0;"><b>E-mail:</b><label for="" style="font-size:80%"></label></h6>
  </div>
</div>

<div class="row">
  <hr style="border-top: 2px solid white;width:90%; margin: 0 60px;">
  <div class="col-lg-5" style=" margin:10px 10px 10px 50px;">
    <h4 style="color:#008080;"><b>Contact Information</b></h4>
    <h6 style="margin:20px 0;padding:0 20px;"><b>Phone No:</b> <label for="" style="font-size:80%"></label></h6>
    <h6 style="margin:20px 0;padding:0 20px;"><b>Address:</b> <label for="" style="font-size:80%"></label></h6>
  </div>
  <div class="col-lg-5 vl" style=" margin:10px 10px; padding-left:30px;">
    <h4 style="color:#008080;"><b>Other Information</b></h4>
    <h6 style="margin:20px 0;padding:0 20px;"><b>NIC No:</b> <label for="" style="font-size:80%"></label></h6>
    <h6 style="margin:20px 0;padding:0 20px;"><b>Birthday:</b> <label for="" style="font-size:80%"></label></h6>
    <h6 style="margin:20px 0;padding:0 20px;"><b>Gender:</b> <label for="" style="font-size:80%"></label></h6>
  </div> -->
</div>
</div>