<div class="nav-side-menu">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
    <div class="menu-list">
  
      <ul id="menu-content" class="menu-content collapse out">
        <li>
          <a href="#"><i class="fa fa-dashboard fa-lg fa-fw sidebar-icon"></i> Dashboard</a>
        </li>
        <li ><a [routerLink]="['/addemployee']"><i class="fa fa-user-plus fa-lg fa-fw sidebar-icon"></i> Add Employee </a></li>
        
        <li>
          <a href="#"><i class="fa fa-calendar fa-lg fa-fw sidebar-icon"></i> Scheduler</a>
        </li>
        
        <li>
          <a href="#"><i class="fa fa-bar-chart fa-lg fa-fw sidebar-icon"></i> Statistics</a>
        </li>
        
        <!-- <li  data-toggle="collapse" data-target="#manage" class="collapsed">
          <a href="#"><i class="fa fa-puzzle-piece fa-lg fa-fw sidebar-icon"></i> Manage <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="manage">
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Devices</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Groups</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> SIM Cards</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Users</a></li>
        </ul>
         -->
        <li  data-toggle="collapse" data-target="#settings" class="collapsed">
          <a href="#"><i class="fa fa-sliders fa-lg fa-fw sidebar-icon"></i> Settings <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="settings">
          <li><a href="#"><i class="fa fa-angle-double-right"></i> General</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Security</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Notifications</a></li>
        </ul>
        
        <!-- <li  data-toggle="collapse" data-target="#maintenance" class="collapsed">
          <a href="#"><i class="fa fa-cogs fa-lg fa-fw sidebar-icon"></i> Maintenance <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="maintenance">
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Operation Logs</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Events and Alarms</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Backup and Restore</a></li>
        </ul>
        
        <li  data-toggle="collapse" data-target="#tools" class="collapsed">
          <a href="#"><i class="fa fa-wrench fa-lg fa-fw sidebar-icon"></i> Tools <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="tools">
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Manual SMS</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Import</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Export</a></li>
        </ul>
        
        <li  data-toggle="collapse" data-target="#help" class="collapsed">
          <a href="#"><i class="fa fa-life-ring fa-lg fa-fw sidebar-icon"></i> Help <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="help">
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Documentation</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i> Customer Support <small><i class="fa fa-external-link"></i></small></a></li>
        </ul> -->
      </ul>
   </div>
</div>



<!-- <div class="col-sm-2" > -->
  <!-- <nav class="nbar navbar-expand-md">
      
      <button type="button" class="navbar-toggler hidden-sm-up" data-targetx="#toggle-example1" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false" aria-controls="toggle-example1">
            <span class="navbar-toggler-icon"></span>
          </button>
          
              <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="toggle-example1" style="background-color: #2e353d">
          
            <ul type="none" >
                <li> <a href=""> Documents </a></li>
                <li ><a [routerLink]="['/addemployee']"> Add Employee </a></li>       
                <li><a href=""> Employee </a></li>
              </ul>
          </div>
</nav> -->

<!-- </div> -->

<!-- <div class="col-sm-2">
<div class="sidebar">
  <div class="sidebar-wrapper ps ps--active-y">
    <ul class="nav">
      <li class="active ">
        <a href="./dashboard.html">
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="./icons.html">
          <p>Icons</p>
        </a>
      </li>
      <li>
        <a href="./map.html">
          <p>Maps</p>
        </a>
      </li>
    </ul>
  </div>
</div>
</div> -->
